<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scandicdesi_shipping>
            <cart_offers>
                <active>1</active>
            </cart_offers>
            <cart_offers_messages>
                <shipping>Shop for additional %1 to avail free shipping!</shipping>
            </cart_offers_messages>
        </scandicdesi_shipping>
        <carriers>
            <scandicdesi>
                <active>1</active>
                <title>ScandicDesi Shipping</title>
                <sallowspecific>0</sallowspecific>
                <model>ScandicDesi\Shipping\Model\Carrier\Shipping</model>
                <scandicdesi_express_price>10.00</scandicdesi_express_price>
                <allowed_methods></allowed_methods>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </scandicdesi>
        </carriers>
    </default>
</config>