<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="dibs_flexwin_all">
                <group id="dibs_flexwin_scandicdesi" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scandicdesi Checkout Message Text:</label>
                    
                     <field id="scandicdesi_tc_enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Text Enable :</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/dibs_flexwin/scandicdesi_tc_enable</config_path>
                    </field>
                    
                    
                    <field id="scandicdesi_desc_text" translate="label comment" type="editor" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Text :</label>
                        <comment>Scandicdesi - Description</comment>
                        <frontend_model>ScandicDesi\Dibs\Block\Adminhtml\System\Config\Editor</frontend_model>
                        <config_path>payment/dibs_flexwin/scandicdesi_desc_text</config_path>
                    </field>
                   
                </group>
                
            </group>
        </section>
    </system>
</config>
