<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 ScandicDesi. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ScandicDesi_Catalog::config">
                    <resource id="ScandicDesi_Catalog::config_catalog" title="Catalog Section" translate="title" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
