/* SEARCH BOX */
.ais-search-box--powered-by {
  font-size: .8em;
  text-align: right;
  margin-top: 2px;
}

input::-ms-clear {
  display: none;
}

/* PAGINATION */
/*#instant-search-pagination-container {
  width: 100%;
  text-align: center; 
}
.ais-pagination {
 background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 20px auto; 
}
.ais-pagination li {
   display: inline-block; 
}*/
.ais-pagination--item a {
	color: #212121;
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	    /* vertical-align: middle; */
}
.ais-pagination--item:not(.ais-pagination--item__active) a:hover{
	color: #bdbdbd;
    text-decoration: none;
}
.ais-pagination-pages .action.ais-pagination--item__disabled,
.ais-pagination li.ais-pagination--item__disabled {
  /*display: none;*/
  display: inline-block;
  opacity: 0.4;
  cursor: default;
}
.ais-pagination-pages .ais-pagination--item.action.previous,
.ais-pagination-pages .ais-pagination--item.action.next {
  position: relative;
}
.ais-pagination-pages .ais-pagination--item.action.previous:before,
.ais-pagination-pages .ais-pagination--item.action.next:before {
  position: static;
  cursor: pointer;
}
.ais-pagination-pages .ais-pagination--item.action.previous .ais-pagination--link,
.ais-pagination-pages .ais-pagination--item.action.next .ais-pagination--link {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateX(-50%);
  -moz-transform:    translateX(-50%);
  -ms-transform:     translateX(-50%);
  -o-transform:      translateX(-50%);
  transform:         translateX(-50%);
}
.ais-pagination-pages  .action.previous{
	padding-left: 0;
}
/* .ais-pagination-pages  .action.next a{
	margin-left: -54px;
} */

.ais-pagination--item__active a {
	cursor: default;
    pointer-events: none;
	
	border-radius: 2px;
	background-color: #616161;
	color: #FFF;
	height: 30px;
	line-height: 28px;
	min-width: 30px;
	
}

/* .ais-pagination--item.ais-pagination--item__next a,
.ais-pagination--item.ais-pagination--item__previous a {
  font-weight: bold;
  color: #606060;
} */

/* REFINEMENT LIST */

.ais-menu--link,
.ais-hierarchical-menu--link,
.ais-price-ranges--link,
.ais-refinement-list--label {
	display: block;

    font-size: 1.2rem;
    font-weight: 300;
    color: #9d9c9c;
}
.ais-menu--link:hover,
.ais-hierarchical-menu--link:hover,
.ais-price-ranges--link:hover,
.ais-refinement-list--label:hover {
	color: #121212;
}


.ais-hierarchical-menu--item__active > div > .ais-hierearchical-link-wrapper > .ais-hierarchical-menu--link,
.ais-refinement-list--item__active > div > .ais-hierarchical-list--link,
.ais-refinement-list--item__active > div > .ais-refinement-list--label,
.ais-price-ranges--item__active > .ais-price-ranges--link{
  
  
  color: #20252d;
}

.ais-hierearchical-link-wrapper, .ais-refinement-list--item {
  position: relative;
  margin-bottom: 1rem;
}

.ais-refinement-list--label, 
.ais-hierarchical-menu--link {
  	padding-right: 2rem;
}

.ais-refinement-list--label img {
  display: inline;
}

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle,
.ais-refinement-list--item__active .cross-circle {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background:  url("data:image/svg+xml;utf8,<svg width=\'34\' height=\'34\' viewBox=\'0 0 34 34\' xmlns=\'http://www.w3.org/2000/svg\'><title>testvg</title><g fill=\'%23000\' fill-rule=\'evenodd\'><path d=\'M17.163 0C7.95 0 .41 7.578.353 16.893c-.03 4.542 1.693 8.82 4.847 12.053 3.156 3.23 7.367 5.026 11.857 5.054h.11c9.21 0 16.75-7.578 16.81-16.893C34.035 7.735 26.54.06 17.163 0zm.015 30.842v1.08l-.09-1.08c-3.656-.023-7.085-1.485-9.654-4.115-2.57-2.63-3.97-6.116-3.948-9.814C3.533 9.33 9.673 3.158 17.262 3.158c7.548.048 13.65 6.297 13.605 13.93-.05 7.585-6.19 13.754-13.69 13.754z\'/><path d=\'M22.362 10.23l-5.186 5.245-5.186-5.244c-.417-.42-1.092-.42-1.51 0-.416.422-.416 1.105 0 1.526L15.668 17l-5.186 5.244c-.416.42-.416 1.104 0 1.525.21.21.483.316.755.316.273 0 .546-.106.755-.317l5.186-5.245 5.186 5.244c.208.21.482.316.754.316.273 0 .546-.106.755-.317.417-.422.417-1.105 0-1.526L18.685 17l5.187-5.244c.417-.42.417-1.104 0-1.525-.416-.42-1.09-.42-1.508 0z\'/></g></svg>")no-repeat center center / contain;
	opacity: 0;
}

/*.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper:hover .cross-circle,
.ais-refinement-list--item__active:hover .cross-circle {
	text-decoration: underline;
	vertical-align: middle;
	margin-left: 0.6rem;
	opacity: 1;
}*/

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle,
.ais-refinement-list--item__active .cross-circle {
  vertical-align: middle;
  margin-left: 0.6rem;
  opacity: 1;
  float: right;
  background: none;
  position: absolute;
  right: 0;
}

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle:before,
.ais-refinement-list--item__active .cross-circle:before {
  
  content: '\e616';
  font-family: 'luma-icons';
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background: #bdbdbd;
  color: #fff;
  font-size: .8rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle:hover:before,
.ais-refinement-list--item__active .cross-circle:hover:before {
  background: #616161;
}

/* .ais-refinement-list--item:hover {
  opacity: 0.7;
} */

.ais-price-ranges--input
{
  width: 70px !important;
}

.ais-price-ranges--label
{
  margin: 5px;
}

.ais-refinement-list--checkbox
{
  margin-right: 10px;
}

.current-refinements
{
  position: relative;
}

.ais-current-refined-values--link
{
	cursor: pointer;
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
	color: #484848;
	vertical-align: middle;
	
	border-radius: 1.8rem;
	background-color: #eeeeee;
	margin-bottom: 1rem;
	padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
}

.ais-current-refined-values--clear-all{
	position: relative;	
	line-height: 2rem;
	background: #616161;
	display: inline-block;
	color: #FFF;
	vertical-align: middle;
	border-radius: 1.8rem;
	padding: 0.5rem 1.2rem;
	min-width: 100px;
    text-align: center;
    font-size: 1.3rem;

}
a.ais-current-refined-values--clear-all:hover{
	color: #ddd;
    text-decoration: none;
}
.ais-current-refined-values--link:hover{
 /*  opacity: 0.7; */
  color: #484848;
}

a.ais-current-refined-values--link:hover
{
  text-decoration: none;
}
a.ais-current-refined-values--link:hover .clear-cross:before{
	background: #616161;
}


.ais-current-refined-values--item {
	
}

.ais-current-refined-values--item:after {
  clear: both;
  content: "";
  display: block;
}

.ais-current-refined-values--item .current-refinement-label {
	font-weight: 500;
	/* text-transform: capitalize; */
}

.ais-current-refined-values--item .cross-wrapper {
	/* font-weight: bold; */
	/*background-color: #DDDDDD;
	border-radius: 1px 0 0 1px;*/
	/*  float: left; */
	width: 2.6rem;
	/* height: 2.6rem; */
	text-align: center;
	/* line-height: 2.6rem; */
	display: inline-block;
	vertical-align: middle;
}

.ais-current-refined-values--link:hover .cross-wrapper {
  text-decoration: none;
}

.ais-current-refined-values--link .cross-wrapper img {
  display: inline;
  margin-top: 6px;
}


.ais-current-refined-values--item .current-refinement-wrapper {
	/* float: left; */
	width: calc(100% - 2.6rem);
	/* height: 1.5rem; */
	padding-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* line-height: 1.5rem; */
	display: inline-block;
	vertical-align: middle;
    
    
    
}

.ais-current-refined-values--link:hover .current-refinement-wrapper {
  /*text-decoration: line-through;*/
}

.ais-menu--link:hover,
.ais-price-ranges--link:hover,
.ais-hierarchical-menu--link:hover {
  color: #121212;
  text-decoration: none;
}
.ais-menu--count, .ais-hierarchical-menu--count, .ais-refinement-list--count {
	float: none;	
}
.ais-hierarchical-menu--count{
	padding-left: 0.5rem;
}

/* RANGE SLIDER */

.ais-range-slider--target {
	position: relative;
	direction: ltr;
	background: #bdbdbd;
	height: 0.2rem;
	margin-top: 3rem;
	margin-bottom: 4rem;
	width: 90%;
	margin-left: 4%;
}

.ais-range-slider--base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
 /*  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-left: 2px solid #DDD;
  border-right: 2px solid #DDD; */
}

.ais-range-slider--origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.ais-range-slider--connect {
  background: #000000;
}

.ais-range-slider--background {
  background: #bdbdbd;
}

.ais-range-slider--handle {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
  background: #FFF;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
}

.ais-range-slider--handle-lower {
	left: -1rem;
	bottom: 1rem;
}

.ais-range-slider--handle-upper {
	right: 1rem;
	bottom: 1rem;
}
.ais-range-slider--handle:before {
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 100%;
    width: 100%;
    }

.ais-range-slider--handle:hover:before {
    /* background-color: rgba(255, 112, 67, 0.2);
    transform: scale(1.8);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    
    background-color: #FFF;
    transform: scale(1.5);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border: 1px solid #ddd;
  
  }

.ais-range-slider--tooltip {
	position: absolute;
	top: 2em;
	min-width: 5rem;
	color: #616161;
	white-space: nowrap;
}
.ais-range-slider--handle-upper .ais-range-slider--tooltip{
	right:0;
	text-align: right;
}

.ais-range-slider--pips {
	box-sizing: border-box;
	position: absolute;
	height: 3em;
	top: 100%;
	left: 0;
	width: 100%;

	display: none;
}

.ais-range-slider--value {
  width: 40px;
  position: absolute;
  text-align: center;
  margin-left: -20px;
  padding-top: 15px;
  font-size: .8em;
}

.ais-range-slider--value-sub {
  font-size: .8em;
  padding-top: 15px;
}

.ais-range-slider--marker {
  position: absolute;
  margin-left: -1px;
  width: 1px;
  height: 5px;
}

.ais-range-slider--marker-large {
  background: #DDD;
  width: 2px;
  margin-left: -2px;
  height: 12px;
}

.ais-range-slider--marker-large:first-child {
  margin-left: 0;
}
/******************
**
** Auto-completion menu
**
******************/

#algolia-autocomplete-container .aa-dropdown-menu .before_special {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 12px;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .category-tag {
    color: #3284b6;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.2rem;
	font-weight: 300;
	color: #2f2f2f;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details em {
  color: #000;
}

#algolia-autocomplete-tt.algolia-autocomplete {
  width: 100%;
  display: inline-block !important;
}

#algolia-autocomplete-container .aa-dropdown-menu {
    position: absolute;
    /* margin-top: -1px; */
    right: 0px;
    width: 100%;
    z-index: 1000 !important;
    /* border: 1px solid #BBB;
    border-top: 3px solid #8EB4D0;
    border-radius: 1px; */
    background: white;
    left: 0 !important;
}

@media (min-width: 768px) {  /* min-width : 992px */
  #algolia-autocomplete-container .aa-dropdown-menu {
    /* width: 71.1%;
    min-width: 800px; */
	/* width: 50%;
    max-width: 600px; */
  }
  
  /* .instant-search-infos-container {
		border-radius: 3px;
		background-color: #ffffff;
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
		padding: 2rem;
	} */
  
  
}

.instant-search-infos-container .toolbar-products{
	background: transparent;
	margin-bottom: 0;
	padding: 0;
}
.hits .toolbar-products select,
.instant-search-infos-container .toolbar-products .sorter-options{
    margin: 0;
    box-shadow: none;
    background-color: #ffffff;
    height: 4rem;
    border: solid 1px #dddddd; 

    font-size: 1.2rem;
    font-weight: 300;
    color: #adadad; 
    min-width: 16rem;    
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 {
  position: relative;
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-left {
  width: 67%;
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-right {
  width: 33%;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products {
  padding: 2rem 1%;
  /* min-height: 250px; */
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .title {
	/* font-weight: 400;
	margin-bottom: 3rem;
	font-size: 1.4rem; */
    
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: -0.4px;
    color: #000000;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .suggestions {
  margin-bottom: 30px;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .see-all a {
  /* color: #000;
  font-weight: 500; */
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: -0.4px;
    color: #000000;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results {
  padding: 1rem;
  /* font-style: italic; */
    font-size: 1.7rem;
    font-weight: 300;
    color: #494949;
    display: inline-block;
}

#algolia-autocomplete-container .aa-dropdown-menu .category {
    padding: 4px;
    color: rgb(166, 166, 166);
    text-align: left;
    font-size: 0.8em;
    /* text-transform: uppercase; */
    font-weight: bold;
  
    font-size: 2.1rem;
    font-weight: 400;
    color: #bcbcbc;
    display: inline-block;
    padding-right: 2rem;
    min-width: 15%;
    box-sizing: border-box;
}

#algolia-autocomplete-container .aa-dropdown-menu .category-suggestions {
  padding: 4px;
  color: #494949;
  text-align: left;
  font-size: 0.7em;
  text-transform: uppercase;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit {
	display: block;
	position: relative;
	padding: 0.4rem 1rem;
	text-align: left;
	text-decoration: none;
  
	/* font-size: 1.4rem;
	font-weight: 300;
	color: #121212; */
    
    font-size: 2.1rem;
    font-weight: 300;
    color: #494949;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit small,
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .small {
    font-size: 1.6rem;
    
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-dataset-suggestions .algoliasearch-autocomplete-hit {
  padding-left: 30px;
}

#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products .col9 {
  /* background-color: #F9F9F9; */
}

#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products #autocomplete-products-footer {
  display: none;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion {
  /* display: inline-block;
  width: 100%; */
  
    display: inline-block;
    width: 33.33%;
    border-right: 1px solid #979797;
    padding: 1% 1% 2%;
    box-sizing: border-box;
}
#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion:nth-child(3n) {
    border: 0;
}

@media (min-width: 768px) {
  #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion {
   /*  display: inline-block;
    width: 50%; */
  }
}


#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .algoliasearch-autocomplete-hit {
  padding: 15px 10px;
  /* padding-bottom: 0; */
}
/* #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion:last-child .algoliasearch-autocomplete-hit{
	padding-bottom: 15px;
} */
#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .algoliasearch-autocomplete-hit:after {
    content: '';
    display: block;
    clear: both;
}


.autocomplete-wrapper {
  width: 100%;
	/* display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap; */
}

.autocomplete-wrapper:after {
  clear: both;
  content: '';
}

.col9 {
 /*  float: right; */
  float: left;
  width: 70%;
  box-sizing: border-box;
}

.col3 {
  float: right;
  width: 30%;
  box-sizing: border-box;
}
.col3,
.col9 {
	min-height:100px;
    /* border-right: solid 2px #EFEFEF; */	
}

/* #algolia-autocomplete-container.reverse .col3 {
  float: left;
  width: 100%;
}

#algolia-autocomplete-container.reverse .col9 {
  float: left;
  width: 100%;
	display: flex;
	height: 100%;
	flex: 1;
	
} 
@media (min-width: 768px) {
  .col9 {
    border-left: solid 1px #eeeeee;
    width: 70%;
	  right: 0;
	  height: 100%;
  }

  .col3 {
    float: left;
    width: 30%;
  }

  #algolia-autocomplete-container.reverse .col3 {
    float: left;
    width: 30%;
  }

  #algolia-autocomplete-container.reverse .col9 {
    border-right: solid 1px #eeeeee;
    float: left;
    width: 70%;
  }
} */
#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia,
.other-sections {
    background-color: #f3f3f3;
    padding: .5rem 1%;
}
.other-sections  .aa-suggestions{
	/* padding-bottom:2rem;
    display: inline-block !important; */
    
    padding-bottom: 1rem;
    display: inline-block !important;
    padding-top: 1rem;
    
    width: 85%;
    vertical-align: middle;
    box-sizing: border-box;
}
.other-sections .aa-dataset-0{
	/* background-color: #fafafa; */
}


.aa-dataset-products .aa-suggestions {
 /*  margin: 10px auto 10px auto; */
}

.aa-dataset-suggestions {
  display: none;
}

@media (min-width: 768px) {
  .aa-dataset-suggestions {
    display: block;
  }
}


@media (min-width: 768px) {
  .aa-dataset-products .aa-suggestions {
    /* margin: 10px auto 50px auto; */
  }
}


.aa-dataset-products .aa-suggestions:after {
  content:'';
  display:block;
  clear: both;
}
.aa-dataset-products {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.aa-dataset-products,
.other-sections .aa-dataset-0 ,
.other-sections .aa-dataset-1 ,
.other-sections .aa-dataset-2 ,
.other-sections .aa-dataset-3 { /***** if more come need to add for all *******/
    max-width: 148rem;
    margin: 0 auto;    
    
}

.other-sections .aa-suggestions .aa-suggestion {
    display: inline-block;
    margin-right: 2rem;
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .algoliasearch-autocomplete-hit {
  padding-left: 1rem;
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions {
 /*  margin-bottom: 20px; */
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-cursor .algoliasearch-autocomplete-hit {
    background-color: #f2f2f2;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit em {
  font-weight: 400;
  font-style: normal;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-price {
  height: 22px;
  
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    text-align: left;
    color: #000000;
    font-family: 'Montserrat';
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb {
  float: left;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb img {
	width: 7rem;
    border: 0;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info {
	margin-left: 8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
    
    font-size: 1.6rem;
    letter-spacing: -0.4px;
    color: #000000;
    font-family: 'Julius Sans One';
}

#autocomplete-products-footer {
	background-color: #F9F9F9;
	text-align: center;
	position: absolute;
	/* width:100%; */
	padding: 10px 0;
	bottom: 0;
	padding: 10px;
	box-sizing: border-box;
	right: auto;
	left: 0;
  /* padding-right: 31%; */
  display: block;
  
  width:70%;
}

#algolia-autocomplete-container.reverse #autocomplete-products-footer {
  /* right: auto;
  left: 0; */
  display: none;
}

/*@media (max-width: 768px) {
  #autocomplete-products-footer {
    bottom: 60px;
  }
}*/

#autocomplete-products-footer span {
	color: #424242;
	font-weight: 500;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category {
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
  
	font-size: 1.2rem;
	font-weight: 300;
	color: #2f2f2f;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category em {
  color: #222;
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia {
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 4px;
    font-size: 13px;
    left: auto;
    right: 0px;
    z-index: 1001;
    /* background: #fff; */
    display: -webkit-flex;
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #cacaca;
  
    box-sizing: border-box;
    position: static;
}

#algolia-autocomplete-container.reverse .aa-dropdown-menu .footer_algolia {
  /* left: auto;
  right: 4px; */
}

@media (min-width: 768px) {
  #algolia-autocomplete-container .aa-dropdown-menu .footer_algolia {
   /*  width: 30%; */
  }
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia span {
  color: #B8B8B8;
  font-size: 10px;
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia img {
  display: inline;
  height: 1.5em;
  vertical-align: bottom;
  max-width: 130px;
}

/**
 * Search Box
*/
/* #algolia-searchbox{
  position: relative;
} */

.clear-cross {
/*	position: absolute;
	display: none;
	background: url("data:image/svg+xml;utf8,<svg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' xmlns=\'http://www.w3.org/2000/svg\' opacity=\'0.6\'><path d=\'M.566 1.698L0 1.13 1.132 0l.565.566L6 4.868 10.302.566 10.868 0 12 1.132l-.566.565L7.132 6l4.302 4.3.566.568L10.868 12l-.565-.566L6 7.132l-4.3 4.302L1.13 12 0 10.868l.566-.565L4.868 6 .566 1.698z\'></path></svg>") no-repeat center center / contain;
	cursor: pointer;*/
	width: 16px;
	height: 16px;
}
.cross-wrapper .clear-refinement:before{
    -webkit-font-smoothing: antialiased;
    font-size: 6px;
    color: #fff;
    content: '\e616';
    font-family: 'luma-icons';
    border-radius: 50%;
    /* width: 2rem;
    height: 2rem; */
    vertical-align: middle;
    display: inline-block;
    /* font-size: 1rem; */
    color: #616161;
    background: #bdbdbd;
    margin-left: 0.4rem;
    color: #FFF;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;

    width: 1.5rem;
    height: 1.5rem;
    font-size: .8rem;
}

/* #algolia-searchbox .clear-query-autocomplete {
	top: 9px;
	right: 9px;
} */
#algolia-searchbox .clear-query-autocomplete,
#algolia_instant_selector .clear-query-instant {
	/* position: absolute;
	display: none;
	background: url("data:image/svg+xml;utf8,<svg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' xmlns=\'http://www.w3.org/2000/svg\' opacity=\'0.6\'><path d=\'M.566 1.698L0 1.13 1.132 0l.565.566L6 4.868 10.302.566 10.868 0 12 1.132l-.566.565L7.132 6l4.302 4.3.566.568L10.868 12l-.565-.566L6 7.132l-4.3 4.302L1.13 12 0 10.868l.566-.565L4.868 6 .566 1.698z\'></path></svg>") no-repeat center center / contain;
	cursor: pointer;
	width: 16px;
	height: 16px;
	right: 13px;
	top: 13px; */
	
	
	position: absolute;
    display: none;
	cursor: pointer;
    right: 0;
    top: 0;
    height: 4rem;
    width: 3.4rem;
    text-align: center;
}
#algolia-searchbox  .clear-query-autocomplete:before ,
#algolia_instant_selector   .clear-query-instant:before {
    font-size: 1.9rem;
    line-height: 4rem;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    
    content: '\e616';
    font-family: 'luma-icons';
}


/*.cross-wrapper .clear-refinement {
	display: block;
	position: relative;
	top: 5px;
	left: 5px;
}
*/
#algolia-searchbox .magnifying-glass {
	position: absolute;
	top: 6px;
	right: 7px;
	width: 20px;
	height: 20px;
	display: block;
	background: url("data:image/svg+xml;utf8,<svg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\'  fill=\'%23A6A6A6\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M15.553 31.107c8.59 0 15.554-6.964 15.554-15.554S24.143 0 15.553 0 0 6.964 0 15.553c0 8.59 6.964 15.554 15.553 15.554zm0-3.888c6.443 0 11.666-5.225 11.666-11.668 0-6.442-5.225-11.665-11.668-11.665-6.442 0-11.665 5.223-11.665 11.665 0 6.443 5.223 11.666 11.665 11.666zm12.21 3.84a2.005 2.005 0 0 1 .002-2.833l.463-.463a2.008 2.008 0 0 1 2.833-.003l8.17 8.168c.78.78.78 2.05-.004 2.833l-.462.463a2.008 2.008 0 0 1-2.834.004l-8.168-8.17z\' fill-rule=\'evenodd\'/></svg>") no-repeat center right / 20px;
}
/* #algolia-searchbox .algolia-search-input:focus:not([value=""]) {
	background: transparent;
} */

/* #algolia-searchbox .algolia-search-input {
  position: static !important;
} */

/* #algolia-searchbox .algolia-search-input:focus {
  outline: 0;
  box-shadow: none;
  border: solid 1px #494949;
} */

/**
 * Instant Search
 */

/* #algolia_instant_selector {
  margin: 10px;
} */

#algolia_instant_selector a,
#algolia_instant_selector a:hover,
#algolia_instant_selector a:focus {
  outline: 0;
}

#algolia_instant_selector:after {
  content: "";
  clear: both;
  display: block;
}

#algolia_instant_selector .category {
}

#algolia_instant_selector .title {
}

#algolia_instant_selector .title img {
  width: 200px;
}

#algolia_instant_selector .text-ellipsis
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#algolia_instant_selector #instant-search-bar {
	float: left;
	width: 100%;
	height: 4rem;
	line-height: normal;
	
	border-left: none;
	padding-left: 4rem;
	padding-top: 0.2rem;
	padding-right: 3.4rem;
  
	border-radius: 0.2rem;
    background-color: #f7f7f7;
    border: solid 1px #dddddd;
    
    font-size: 1.3rem;
    font-weight: 300;
    color: #9d9c9c;

}
/* .minisearch input[type=text]{
	padding-right: 3.4rem;
    border: 0;
} */

.instant-search-bar-wrapper  .ais-search-box:before {
    -webkit-font-smoothing: antialiased;
    font-size: 1.9rem;
    line-height: 4rem;
    color: #666666;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    position:absolute;
    left: 0;
    width: 4rem;
    right: auto;
}


#algolia_instant_selector.with-facets #algolia-right-container {
}

#algolia_instant_selector.with-facets #algolia-left-container {
  min-height: 1px;
}

/* #algolia_instant_selector .hits .infos {
  margin: 0 15px;
  padding: 6px 10px;
  color: #aaa;
  text-align: center;
  background: #F4F4F4;
  font-size: 12px;
  clear: both;
	line-height: 32px;
}

#algolia_instant_selector .hits .infos::after {
  margin: 0 15px;
  padding: 6px 10px;
  color: #aaa;
  text-align: center;
  background: #F4F4F4;
  font-size: 12px;
  clear: both;
} */

#algolia_instant_selector .hits .infos strong {
  color: #555;
}

#algolia_instant_selector .hits .sort-by-label {
  margin-right: 8px;
}

#algolia_instant_selector .hits .no-results {
  margin: 40px 25px;
  color: #636363;
  font-size: 16px;
}

#algolia_instant_selector .hits .no-results.no-lr-margin {
    margin-left: 0;
    margin-right: 0;
}

#algolia_instant_selector .hits .no-results a {
    color: #333333;
    font-size: 1.5rem;
    font-weight: 600;
}

#algolia_instant_selector .hits .no-results a:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* #algolia_instant_selector a:hover {
  color: #666666;
} */

#algolia_instant_selector .hits .no-results strong {
  color: #555;
}

#algolia_instant_selector .hits .no-results .clear-button {
  cursor: pointer;
}

#algolia_instant_selector .hits .no-results .popular-searches {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

#algolia_instant_selector .ais-hits--item .product-reviews-summary {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * Facets
 */

#algolia_instant_selector .infos .algolia-logo {
  font-size: 10px;
}

#algolia_instant_selector .facets {
  padding-top: 50px;
}

@media (max-width: 767px) { /* max-width : 992px */
  #algolia_instant_selector .facets {
    padding-top: 10px;
  }
  /*.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle, 
  .ais-refinement-list--item__active .cross-circle {
    opacity: 1;
    text-decoration: underline;
    vertical-align: middle;
    margin-left: 0.6rem;
  }*/
  /*delete*/
}

#algolia_instant_selector .ais-current-refined-values.facet .ais-current-refined-values--body {
  padding-left: 0px;
}

#algolia_instant_selector .facet {
	border-bottom: 1px solid #e8e8e8;
	padding: 2rem;
	padding-right: 1rem;
}

#algolia_instant_selector .facet.current-refinements-list{
   /*  background: #f8f8f8; */
       padding-bottom: 1.2rem;
}

#algolia_instant_selector .facet:not(:first-child) {
  margin-top: 10px;
}

#algolia_instant_selector .ais-header {
  margin-bottom: 7px;
}

#algolia_instant_selector .ais-header.ais-current-refined-values--header {
  /* margin-bottom: 13px;
  padding-left: 0; */
}

#algolia_instant_selector .facet .name {
	font-size: 1.3rem;
    font-weight: 500;
    color: #494949;
    display: inline-block;
}

.ais-current-refined-values.facet {
  position: relative;
}

#algolia_instant_selector .as-range-slider--base
{
    margin-top: 45px;
}

#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list
{
  padding-left: 10px;
}

#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl0
{
  padding-left: 0px;
}

#algolia_instant_selector .facet .sub_facet:not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}

#algolia_instant_selector .text-center {
  text-align: center;
}

#algolia_instant_selector em {
  background-color: rgba(249, 227, 227, 0.66);
  font-style: normal;
}

#algolia_instant_selector h1 {
  margin: 0;
}

#algolia_instant_selector .result {
  display: block;
  margin: 15px 0;
  padding: 16px 24px;
  border: solid 1px #EDEDED;
  background-color: white;
}

/* #algolia_instant_selector .price-wrapper {
  height: 25px;
} */

#algolia_instant_selector .result:hover {
  border-color: #b9b9b9;
  text-decoration: none;
}

#algolia_instant_selector .result .result-thumbnail {
  text-align: center;
}

#algolia_instant_selector .result .result-thumbnail img {
  display: inline;
  height: 148px;
  width: auto;
}

#algolia_instant_selector .result .result-thumbnail .no-image {
  display: block;
  height: 148px;
  background: #FAFAFA;
}

#algolia_instant_selector .result .ratings .rating-box {
  margin: 0 auto 10px;
  float: inherit;
}

#algolia_instant_selector h3
{
  margin-bottom: 0;
}

#algolia_instant_selector .result .price {
  text-align: center;
  font-size: 1.2em;
  color: #494949;
}

#algolia_instant_selector .result .result-title {
  font-size: 14px;
  text-align: center;
  color: #636363;
  line-height: 1.3;
}

#algolia_instant_selector .ui-widget-header {
  background-color: #bcbcbc;
}

#algolia_instant_selector .result-thumbnail img {
  width: 100%;
}


/** INSTANT SEARCH BAR **/

#algolia_instant_selector #instant-search-bar-container {
  padding-top: 0px;
 /*  margin-bottom: 2rem; */
  width: 100%;
  position: relative;
}

#algolia_instant_selector #instant-search-bar-container:after {
  clear: both;
  content: "";
  display: block;
}

#algolia_instant_selector .as-search-box--input {
  width: 100%;
  height: 40px;
  /* font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif; */
}

/* #algolia_instant_selector #instant-search-bar:focus {
    outline: 0;
    box-shadow: none;
} */

#algolia_instant_selector #instant-search-box label {
  display: none;
}

#algolia_instant_selector .instant-search-bar-label {
  background-color: #494949;
  height: 40px;
  line-height: 24px;
  padding: 8px 12px;
  color: white;
  float: left;
  width: 140px;
  text-align: right;
  display: none;
}

#algolia_instant_selector #instant-search-box svg.magnifying-glass {
  position: absolute;
  top: 8px;
  left: 8px;
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

#algolia_instant_selector .before_special {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 12px;
}

/* #algolia_instant_selector button:hover {
  background: #2E8AB8 none repeat scroll 0% 0%;
  cursor: pointer;
} */

.ais-price-ranges--button {
  background: #39C none repeat scroll 0% 0%;
  padding: 5px 15px;
  margin-left: 10px;
  border: 0px none;
  color: #FFF;
  font-size: 13px;
  font-weight: normal;
  font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

/* #algolia_instant_selector button:not(.ais-price-ranges--button) {
  background: #f4f4f4 none repeat scroll 0% 0%;
  display: block;
  margin: auto;
  margin-top: 0px;
  padding: 7px 15px;
  border: 0px none;
  color: #666666;
  font-size: 13px;
  font-weight: normal;
  font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

#algolia_instant_selector button:not(.ais-price-ranges--button):hover {
  background: rgb(53, 153, 204) none repeat scroll 0% 0%;
  color: white;
} */

#algolia_instant_selector .pull-left {
  float: left;
}

#algolia_instant_selector .pull-right {
  float: right;
}

#algolia_instant_selector #refine-toggle
{
 /*  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: solid 1px #EDEDED;
  margin: 10px 0 20px 0;
  font-weight: bold; */
  cursor: pointer;
  width: 48%;
    padding: 10px 10px  10px 20px;
    background: #f1f1f1;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid #FFF;
    font-weight: 800;
    line-height: 30px;
    font-size: 1.4rem;    
    display: inline-block;  
    position: absolute;
    z-index: 2;
    margin: 0;
    left: 0;
    top: 0;
}

#algolia-static-content
{
  margin-bottom: 20px;
}

/**
** GRID
*/

#algolia_instant_selector, 
#algolia_instant_selector *,
#search_mini_form, 
#search_mini_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#algolia_instant_selector:before, #algolia_instant_selector:after,
#algolia_instant_selector *:before, #algolia_instant_selector *:after,
#search_mini_form:before, #search_mini_form:after,
#search_mini_form *:before, #search_mini_form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#algolia_instant_selector .product-flag-containers,
#algolia_instant_selector .product-flag-containers *{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/**
*
* https://css-tricks.com/almanac/properties/w/word-break/ 
* Universal selector can be useful,
* If you have a site with a lot of user-generated content.
*
**/
#algolia_instant_selector, 
#algolia_instant_selector *{
	-ms-word-break: break-all;
	word-break: break-all;
	/* Non standard for WebKit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
#search_mini_form label {
	display: none;
}

/* .row {
  margin-left: -15px;
  margin-right: -15px;
} */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 768px) { /* min-width : 992px */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

/* .visible-xs, .visible-sm {
  display: none!important
}

.hidden-xs, .hidden-sm {
  display: block !important
} */

/* @media (max-width: 767px) {
  .visible-xs {
    display: block !important
  }

  .hidden-xs {
    display: none!important
  }
} */

@media (max-width: 767px) { /* max-width : 992px */
  #algolia-searchbox .clear-query-autocomplete{
	display: none!important;
  }
  .visible-sm {
    display: block !important;
  }

  .hidden-sm {
    display: none!important;
  }
	.algolia-main-container{
		position: relative;
	}
	.algolia-left-container,
	.algolia-right-container{
		position: static;
	}	
	.instant-search-facets-main-container,
	.instant-search-bar-main-container{
		margin: 0;
		margin-top: 1rem;
	}
   #algolia_instant_selector .filter.active .instant-search-facets-main-container{
        margin-top: 0px;
  }
	/* .instant-search-bar-main-container{
		padding: 0px 15px;
	} */
	
	.instant-search-facets-main-container{
		/* margin-bottom: -30px; */
	}
	.ais-pagination-pages{
		margin-left: 10px;
		margin-right: 10px;
	}
	.ais-pagination-pages .ais-pagination--item__next{
		position:relative;
	}
	.ais-pagination-pages .ais-pagination--item__next:before {
		position: absolute;
		right: -16px;
	}
  #algolia-autocomplete-container .aa-dropdown-menu {
	/* border: 1px solid #cacaca; */
	max-height: 400px;
	margin-top: -2px;
	border: none;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col9
  {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #cacaca;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col3
  {
      width: 100%;
     /* border-bottom: 1px solid #cacaca;*/
  }
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col3 .other-sections {
  
      /* margin: 15px 10px 10px 10px; */
      margin: 0;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col3:before {
      border-left: none;
  }
  
  #algolia-autocomplete-container .aa-dropdown-menu .other-sections .category,
  #algolia-autocomplete-container .aa-dropdown-menu .aa-no-results{
	padding: 1rem 2rem;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .other-sections .algoliasearch-autocomplete-hit{
	padding-left:2rem;
  }
  
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-products-header{
	font-size: 1.2rem;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .footer_algolia {
      border-top: 1px solid #cacaca;
  }
  #algolia-autocomplete-container .aa-dropdown-menu:not(.aa-without-products) .aa-dataset-products #autocomplete-products-footer {
    display: block;
    width: 100%;
   /*  position: relative; */
  }
  #algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products {
    padding: 15px 14px;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .title {
    margin-bottom: 20px;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions {
    margin-bottom: 10px;
  }
  
}



/*******************/

    #algolia_instant_selector .ais-header {
        margin-bottom: 0px;
        /* padding-left: 30px; */
        position: relative;
        padding: 1.2rem 0px;
            cursor: pointer;
    }
    #algolia_instant_selector .ais-root__collapsible:not(.ais-current-refined-values) .ais-body {
        display: none;
    }


    #algolia_instant_selector .ais-root__collapsible.ais-root__collapsed:not(.ais-current-refined-values) .ais-body {
        display: block;
    }
    #algolia_instant_selector .ais-root__collapsible:not(.ais-current-refined-values) .ais-header:before{
        content: '\e622';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        /* position: absolute;
             
        
        
        left: 13px;
        top: 3px; */
        color: #979797;
        font-size: 1rem;
        margin-right: 1.4rem;
    }
    #algolia_instant_selector .ais-root__collapsible.ais-root__collapsed:not(.ais-current-refined-values) .ais-header:before{
        content: '\e621';
    }
  
    #algolia_instant_selector .facet{
        margin-bottom: 0px;
       /*  padding: 1.2rem 0px; */
        padding: 0;
        border-bottom: 2px solid #dcdcdc;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
    #algolia_instant_selector .instant-search-facets-main-container div:last-child .facet{
        /* border-bottom:0; */
    }
  

/*******************/




.clearfix
{
  clear: both;
}

#algolia-autocomplete-container:after, .autocomplete-wrapper:after {
  clear: both;
  content: '';
}

.algolia-main-container.columns{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
@media (min-width: 768px) {
	.algolia-main-container.columns {
		display: block;
	}
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col3 {
    position: relative;
  }
  #algolia-autocomplete-container .aa-dropdown-menu .autocomplete-wrapper .col3:before {
    content: '';
    border-left: 1px solid #cacaca;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
  }
  
    .instant-search-bar-main-container {
        width: 74.6%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .infos.toolbar.toolbar-products {
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
    }
}

#algolia_instant_selector #current-refinements .facet .name{
    font-size: 1.5rem;
}
#algolia_instant_selector .ais-refinement-list--label{
	padding-left: 2rem;
	cursor: pointer;
}
/* #algolia_instant_selector .ais-refinement-list--item:before{
  background: #fff;
  border: 1px solid #000;
  color: #080808;
  content: " ";
  display: inline-block;
  font-family: 'luma-icons';
  height: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  width: 1.2rem;
}
#algolia_instant_selector .ais-refinement-list--item.ais-refinement-list--item__active:before{
  background: #444;
  content: '\e610';
  color: #fff;
  font-size: 9px;
  font-weight: 600;
} */

#algolia_instant_selector .ais-refinement-list--item:before{
  background: #fff;
  border: 1px solid #bbbbbb;
  color: #757575;
  content: " ";
  display: inline-block;
  font-family: 'luma-icons';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
  vertical-align: middle;
  width: 1rem;
  /* border-radius: 0.3rem; */
  font-size: .8rem;
  height: 1rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
#algolia_instant_selector .ais-refinement-list--item.ais-refinement-list--item__active:before{
  color: #fff;
  background: #f9678d;
  text-align: center;
  /* content: '\e610'; */
  border-color: #f9678d;
}


#algolia_instant_selector input[type="checkbox"]{
  display:none;
}
#algolia_instant_selector .ais-refinement-list--body{
  overflow: hidden;
  overflow-y: auto;
  max-height: 18rem;
  margin: 1.5rem 0;
}

#algolia_instant_selector .ais-refinement-list--count:before,
#algolia_instant_selector .ais-hierarchical-menu--count:before{
    content: '(';
}
#algolia_instant_selector .ais-refinement-list--count:after,
#algolia_instant_selector .ais-hierarchical-menu--count:after {
    content: ')';
}

#algolia_instant_selector .swatch-attribute.size .swatch-option, 
#algolia_instant_selector .swatch-attribute.manufacturer .swatch-option{
	box-sizing: content-box;
}
#algolia-autocomplete-container .aa-dropdown-menu .autocomplete-products-header {
    /* text-align: left;
    padding: 1rem;
    color: #000000;
    font-size: 1.6rem;
    font-weight: normal;
    border-bottom: 1px solid #cacaca; */
    
    
    padding-left: 1%;
    padding-right: 1%;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 300;
    
    /* color: #f9678d; */
    padding-bottom: 2rem;
}

#algolia-autocomplete-container .aa-dropdown-menu .autocomplete-products-header .label-heading {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    color: #bcbcbc;
}

#algolia-autocomplete-container .aa-dropdown-menu .autocomplete-products-header .links-content {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    text-align: right;
}


#algolia-autocomplete-container .aa-dropdown-menu .autocomplete-products-header a {
    color: #f9678d;
}

.algolia-content-loading .page-main{
    min-height: 20rem;	
}
.algolia-content-loading .page-main:before {
    content: '';
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    /* z-index: -1; */
	min-height:20rem;
	background:url('../images/loader.gif') no-repeat center;
}

/* Adjusting global search bar to show full plcaeholder */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body .minisearch input[type=text] {
        padding-left: 2.5rem;
        padding-right: 0.5rem;
        font-size: 1.2rem;
    }
    body .minisearch .actions .action.search {
        width: 2.5rem;
    }
    
    
}

.sidebar-algolia-stats {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
    color: #9d9c9c;
    line-height: 4rem;
    position: relative;
    margin-bottom: 3rem;
}

.sidebar-algolia-stats:before {
    content: '';
    background: url('../../images/filter-icon.svg') no-repeat center;
    text-indent: -9999px;
    width: 4rem;
    height: 4rem;
    position:absolute;
    background-size: contain;
    left: 0;
}


@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .instant-search-bar-main-container {
        width: 63.3%;
    }

    .infos.toolbar.toolbar-products {
        width: 36%;
    }
    
    .hits .toolbar-products select, 
    .instant-search-infos-container .toolbar-products .sorter-options{
        min-width: auto; 
        max-width:20rem;
    }
    .sidebar-algolia-stats:before {
        width: 2.5rem;
    }
    
}

@media only screen and (min-width: 1101px) and (max-width: 1340px) {
    
    .instant-search-bar-main-container {
        width: 69.5%;
    }

    .infos.toolbar.toolbar-products {
        width: 30%;
    }
    
    .hits .toolbar-products select, 
    .instant-search-infos-container .toolbar-products .sorter-options{
        min-width: auto; 
        max-width:20rem;
    }
    
}

/******* tab ****/

@media only screen and  (min-width: 767px)  and (max-width: 1024px){ 
    #algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit,
    #algolia-autocomplete-container .aa-dropdown-menu .category {
        font-size: 1.6rem;        
    }
}

/* Algolia Search results adjustment for mobile screen */

@media only screen and (max-width: 768px) {
    #algolia-autocomplete-container .aa-dropdown-menu:not(.aa-without-products) .aa-dataset-products #autocomplete-products-footer {
        position: static !important;
    }

    #algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions {
        padding-bottom: 0;
    }
    
}
@media (max-width: 767px) { 
    .sidebar-algolia-stats {
        display: none;
    }
    .instant-search-infos-container .toolbar-products .sorter{
        margin-right: 10%;
        width: 38%;        
    }
    .hits .toolbar-products select, 
    .instant-search-infos-container .toolbar-products .sorter-options{
        min-width: auto;        
    }
    .instant-search-infos-container .toolbar-products .sorter label:after {
        content: '\e607';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        color: rgba(73, 73, 73, 0.38);
        font-size: .8rem;
        margin-left: .5rem;
    }
    .instant-search-infos-container .toolbar-products .sorter-options {
        width: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;        
    }
    #algolia_instant_selector #instant-search-bar {
        text-align: center;
        font-size: 1.2rem;  
    }
    #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products {
        
        background: #FFF;
    }
    #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion {
        display: block;
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #979797;
        padding: 1% 1% 2%;
        box-sizing: border-box;
    }
    #algolia-autocomplete-container .aa-dropdown-menu .category,
    #algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit {
        font-size: 1.4rem;
    }
    
    #algolia-autocomplete-container .aa-dropdown-menu .category {        
        width: 40%;
    }
    #algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions {
        width: 60%;        
    }
}

















    #algolia_instant_selector  .custom-color-swatches:after {
        content: "";
        display: table;
        clear: both; 
    }
    #algolia_instant_selector .custom-color-swatches .ais-refinement-list--item { 
        display:inline-block;
    }
    #algolia_instant_selector .custom-color-swatches .ais-refinement-list--item:before{ 
        display:none;
    }
       
    #algolia_instant_selector .custom-color-swatches .facet-color-label {
        width: 32px;
        height: 32px;
        /* border-radius: 3px; */
        margin: 0 8px 5px;
        display: block;
        overflow: hidden;
        float: left;
        text-indent: -9999px;
        border: 1px solid #a9a8a8;
        box-sizing: border-box;
        padding: 0;
    }
    #algolia_instant_selector .custom-color-swatches     .facet-color-label.selected {
        box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); 
    }
    #algolia_instant_selector .custom-color-swatches     .facet-color-label[data-facet-value="White"].selected {
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.2); 
    }
    .facet-color-label[data-facet-value="White"] {
       background-color: #FFFFFF;
       box-shadow: inset 0 0 0 1px #CCC; 
    }
    .facet-color-label[data-facet-value="White"].selected {
       box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1); 
    }
    .facet-color-label[data-facet-value="Black"] {
       background-color: #000000; 
    }
    .facet-color-label[data-facet-value="Black-brown"] {
       background-color: #382919; 
    }
    .facet-color-label[data-facet-value="Pink"] {
       background-color: #C0116D; 
    }
    .facet-color-label[data-facet-value="Gray"] {
       background-color: #6F6E6C; 
    }
    .facet-color-label[data-facet-value="Blue"] {
       background-color: #5182A1; 
    }
    .facet-color-label[data-facet-value="Green"] {
       background-color: #1E9C5E; 
    }
    .facet-color-label[data-facet-value="Brown"] {
       background-color: #7B6A63; 
    }
    .facet-color-label[data-facet-value="Red"] {
       background-color: #BC1C1A; 
    }
    .facet-color-label[data-facet-value="Dark gray"] {
       background-color: #444348; 
    }
    .facet-color-label[data-facet-value="Silver color"] {
       background-color: #AAAAA8; 
    }
    .facet-color-label[data-facet-value="Light brown"] {
       background-color: #C19A6E; 
    }
    .facet-color-label[data-facet-value="Black-brown stain"] {
       background-color: #4B4640; 
    }
    .facet-color-label[data-facet-value="Off-white"] {
       background-color: #D0C8B4; 
    }
    .facet-color-label[data-facet-value="Beige"] {
    background-color: #C9B8A3; 
    }
    .facet-color-label[data-facet-value="Light green"] {
       background-color: #ABBD9B; 
    }
    .facet-color-label[data-facet-value="White stain"] {
       background-color: #E4E1DC; 
    }
    .facet-color-label[data-facet-value="Turquoise"] {
       background-color: #46BCC9; 
    }
    .facet-color-label[data-facet-value="Birch effect"] {
       background-color: #CBBFA4; 
    }
    .facet-color-label[data-facet-value="Yellow"] {
       background-color: #F5E500; 
    }
    .facet-color-label[data-facet-value="Dark blue"] {
       background-color: #374063; 
    }
    .facet-color-label[data-facet-value="Galvanized"] {
       background-color: #726F6A; 
    }
    .facet-color-label[data-facet-value="Birch"] {
       background-color: #726F6A; 
    }
    .facet-color-label[data-facet-value="Dark brown"] {
       background-color: #74523E; 
    }
    .facet-color-label[data-facet-value="High gloss gray"] {
       background-color: #E5E5E5; 
    }
    .facet-color-label[data-facet-value="Gray/white"] {
       background-color: #E5E5E5; 
    }
    .facet-color-label[data-facet-value="Red/white"] {
       background-color: #FA757B; 
    }
    .facet-color-label[data-facet-value="Clear"] {
       background-color: #D5DAE0; 
    }
    .facet-color-label[data-facet-value="Matte black"] {
       background-color: #616872; 
    }
    .facet-color-label[data-facet-value="Matte white"] {
       background-color: #DCDBD7; 
    }

    .facet-color-label[data-facet-value="Orange"] {
        background-color: #ffa500; 
    }

    .facet-color-label[data-facet-value="Purple"] {
        background-color: #800080; 
    }



