<div class="payment-method" data-bind="css: {'_active': ( $parent.getMethodCode() == $parent.isChecked() && $parent.getDibsPaytype() == $data.id)}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': $data.id}, value: $data.id, checked: $parent.getDibsPaytype(), click: $parent.setCustomPaymentMethod.bind($parent)"/>
        <label data-bind="attr: {'for': $data.id}" class="label">
            <img data-bind="attr: {src: $data.logo, width: $parent.imgWidth}"
                 class="payment-icon"/>
            <span data-bind="text: $data.title"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parents[1].getRegion($parent.getBillingAddressFormName()) -->
                <!-- ko if: $parent = $parents[1] -->
                    <!-- ko template: getTemplate()--><!-- /ko -->
                <!--/ko-->
            <!--/ko-->
        </div>
        <div class="checkout-message-block">
            <!-- ko if: !$data.scandicdesi_desc_text  -->
            <span data-bind="i18n: 'You will be redirected to DIBS payment window..'"></span> 
             <!--/ko-->
            
             <!-- ko if: $data.scandicdesi_desc_text  -->
            <span data-bind="html: $data.scandicdesi_desc_text"></span> 
             <!--/ko-->
            
            
            <!-- ko if: $data.terms_and_condition && $data.terms_and_condition.scandicdesi_tc_enable -->
            <a target="_blank" data-bind="attr: {'href': $data.terms_and_condition.scandicdesi_tc_link},'text': $data.terms_and_condition.scandicdesi_tc_text" ></a>
            <!--/ko-->
        </div>
        <form id="payment-form-dibs" data-bind="foreach: $parent.requestData, attr: {action : $parent.getDibsActionFormUrl() }" method="POST">
            <input type="hidden" data-bind="attr: {'name': $data.name, 'value': $data.value }"/>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parents[1].getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: $parent.placeOrder.bind($parent),
                        attr: {title: $t('Place Order')},
                        enable: ($parent.getMethodCode() == $parent.isChecked() && $parent.getDibsPaytype() == $data.id),
                        css: {disabled: !$parent.isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>